.page-section {
  padding: 2.5rem ;

  &--blue {
    background-color: $blueMain;
    color: #FFF;
  }

  &--testimonials {
    background: #e0e1e6;
    padding-bottom: 0;    

    @mixin atMedium {
      background: url('./assets/images/testimonials-bg.jpg') top center no-repeat;
      background-size: cover;
      padding-bottom: 0;
    }    
         
  }
  
}