.section-title {
  font-size: 3.5rem;
  font-weight: 300;
  text-align: center;
 
   strong {
     font-weight: 500;
   }

  &__icon {   
    margin-bottom:-1rem; 
    margin-right: 20px;
    position: relative;
            
  }

    &--blue {
    color: $blueMain;
    
  }
}